:root {
    --bg-color: #E9E6D8;
    --sec-color: #A3C9A8;
    --tri-color: #50808E;
  }

.csl-container{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.csl-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}


.csl-content-wrapper{
    overflow: hidden;
    width: 100%;
    height: 200%;
}

.csl-content{
    display: flex;
    width: 100px;
}

.csl-content::-webkit-scrollbar, .csl-content::-webkit-scrollbar{
    display: none;
}

.csl-content > * {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    flex-grow: 1;
}

.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-90%);
    width: 50px;
    height: 48px;
    border-radius: 24px;
    background-color: var(--tri-color);
    border: 1px solid #ddd;
}


.left-arrow{
    left: 135px;
}

.right-arrow{
    right: -105px;
}






